input {
  height:50px;
  width:99%;
  text-align: center;
  font-size: 18px;
}
button {
  height:35px;
  font-family: verdana
}
.App {
  text-align: center;
  background-color: #f2f2f2;
  min-height: 90vh;
  margin: 5vh auto;
  max-width: 40vw;
  border-radius:5px
}
.single-task {
  font-size: 24px;
  padding:25px 50px;
  background-color: white;
  margin:25px 25px;
  border-radius:5px;
  box-shadow:1px 1px 6px 1px silver
}
.single-task-delete {
  float:right;
  color:red;
  font-size: 14px;
  margin:0 10px;
}
.single-task-delete:hover {
  cursor:pointer;
}
.single-task-edit {
  float:right;
  color:red;
  font-size: 14px;
  margin:0 10px;
}
.single-task-edit:hover {
  cursor:pointer;
}
/* .edit-form {
  display:none;
} */
